<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EndlessReading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A07F45031C23AE2800D0A6CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A07F451C1C23AE2900D0A6CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A07F45271C23AE2900D0A6CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
